{% extends "base.html" %}

{% block content %}

<h1>Available Polls</h1>
<div class="list -group">


{% for p in polls %}
		
	<a class="list-group-item" href="{{ p.get_absolute_url }}">
		<span class="badge">
		{{ p.category }}
		</span>
		<h4 class="list-group-item-heading">{{ p.name|truncatechars:10 }}</h4>
		<p class="list-group-item-text">{{ p.question }}</p>
		<p class="list-group-item-text"> Number of available answer choices: {{ p.choice_count }}</p>
	</a>
{% empty %}

	<h2>
		No Polls Available
	</h2>
	
{% endfor %}


</div>
{% endblock %}
{% block footer%}
This is the poll list view
{% endblock %}
